@import url(chrome://global/skin/);


toolbarbutton {
	-moz-appearance: none;
	width:32px;
	height:32px;
	border-style:solid outset outset solid ;
	border-width:0.5px 1px 1px 0.5px;
	border-color:lightgrey;
	border-radius:4px 4px 4px 4px;
}

toolbarbutton[disabled] {
	border-style:none;
	border-width:0;
	border-radius:4px 4px 4px 4px;
}

toolbarbutton:hover {
	
}

toolbarbutton.copy {
	list-style-image: url('chrome://cookiemgr/content/icons/copy.ico');
}

toolbarbutton.filter{
	list-style-image: url('chrome://cookiemgr/content/icons/filter.ico');
	border-style:none;
	border-width:0;
	disabled:disabled;
}

toolbarbutton.delete, button.delete{
	list-style-image: url('chrome://cookiemgr/content/icons/delete.ico');
}

toolbarbutton.add{
	list-style-image: url('chrome://cookiemgr/content/icons/add.ico');
}

toolbarbutton.save{
	list-style-image: url('chrome://cookiemgr/content/icons/save.ico');
}

toolbarbutton.save[disabled]{
	list-style-image: url('chrome://cookiemgr/content/icons/save-disabled.ico');
}

toolbarbutton.cancel{
	list-style-image: url('chrome://cookiemgr/content/icons/cancel.ico');
}

toolbarbutton.export{
	list-style-image: url('chrome://cookiemgr/content/icons/export.ico');
}

toolbarbutton.refresh{
	list-style-image: url('chrome://cookiemgr/content/icons/refresh.ico');
}

toolbarbutton.about{
	list-style-image: url('chrome://cookiemgr/content/icons/about.ico');
}

toolbarbutton.import{
	list-style-image: url('chrome://cookiemgr/content/icons/import.ico');
	transform: rotate(270deg); 
}

toolbarbutton.export{
	list-style-image: url('chrome://cookiemgr/content/icons/export.ico');
	transform: rotate(270deg); 
}

toolbarbutton.close{
	list-style-image: url('chrome://cookiemgr/content/icons/close.ico');
}

toolbarbutton.feedback{
	list-style-image: url('chrome://cookiemgr/content/icons/feedback.ico');
}

toolbarbutton.contribute{
	list-style-image: url('chrome://cookiemgr/content/icons/contribute.ico');
}

toolbarbutton.help{
	list-style-image: url('chrome://cookiemgr/content/icons/help.ico');
}